

body{
    background-color: rgb(111, 40, 202);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
strong{

    background-color: rgb(145, 142, 146);
}

       